@import url("https://fonts.googleapis.com/css?family=Gudea");

* {
    font-family: Gudea; 
}

body {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a, a:link, a:visited {
    text-decoration: none;
}

header,
footer {
    background-color: #FF9900;
    border-radius: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
}

.nav-text{
    color: white;
}

.nav-text:hover {
    color: black;
}

.main-section {
    color: black;
    text-shadow: 1px 1px white;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgray;

}

.profile-img {
    width: 20%;
    border-radius: 20px;
}

.profile-img:hover {
    box-shadow: 0 2px 2px black;
}

.contact {

}

.footer {

}

.center-text {
    text-align: center;
}